[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
ConditionFileIsExecutable=/opt/bin/kube-scheduler
Requires=etcd.service
Requires=docker.service
Requires=kube-apiserver.service
After=etcd.service
After=docker.service
After=kube-apiserver.service

[Service]
ExecStart=/opt/bin/kube-scheduler --master=127.0.0.1:8080 --logtostderr=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
